<div class="create_suite_body">
    <div class="create_test_head">Create New Suite</div>
    <div class="create_suite_info card_style">
        <div class="create_suite_name_label label_input">Suite Name:</div>
        <div>
            <label>
                <input class="create_suite_name_input text_box_back label_input" placeholder="Enter Suite Name" ng-model="newSuite.name">
            </label>
        </div>
    </div>
</div>
<hf-button on-submit='button.submit' on-discard='button.discard' param='$index'></hf-button>